header {
  text-align: center;
  font-size: 100px;
}
button {
  color: white;
  background-color: black;
  border-color: black;
}
footer {
  margin-top: 50px;
  border-top: solid;
  border-top-width: 1px;
}
