.Dictionary {
  text-align: center;
}
.Dictionary form {
  margin-top: 20px;
}

.Dictionary input {
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: rgb(220, 220, 200);
  opacity: 0.5;
}

.Dictionary button {
  border: none;
  color: white;
  background-color: black;
  border-radius: 0 5px 5px 0;
}
